body {
  font-family: 'Arimo', sans-serif;
}

.navbar-nav .nav-item {
  margin: 0 45px;
}

.navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.navbar-loupe {
  position: absolute;
  right: 146px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.navbar-cart {
  position: absolute;
  right: 101px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.btn,
.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn:focus,
.navbar-toggler:focus,
.btn:active,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

@media (max-width: 992px) {
  .navbar-loupe,
  .navbar-cart {
    position: absolute;
    top: 16px; /* Пример фиксированного расстояния от верха */
    transform: none;
  }
  
  .navbar-loupe {
    right: 73px;
  }
  
  .navbar-cart {
    right: 28px;
  }
}


@media screen and (max-width: 768px) {
  .navbar-nav .nav-item {
    display: flex;
    justify-content: center;
  }
}

.first-block {
  background: rgb(241, 239, 228);
}


.first-block {
padding-top: 44px;
display: flex;
flex-direction: column;
align-items: center;
}

.rectangle {
width: 1296px;
height: 550px;
border-radius: 56px;
background: rgb(200, 221, 237);
padding-top: 56px;
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;
}

.rectangle-text {
color: rgb(0, 0, 0);
font-family: Arimo;
font-size: 68px;
font-weight: 700;
line-height: 88px;
letter-spacing: 0%;
text-align: left;
width: 500px;
padding-left: 40px; /* Добавлен отступ слева */
}
.rectangle-text-description {
color: rgb(0, 0, 0);
font-family: Arimo;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0px;
text-align: left;
padding-left: 40px; /* Добавлен отступ слева */
width: 565px; /* Установлена ширина */
margin-top: 28px; /* Добавлен отступ сверху */
}


.buy-button {
font-family: 'Arimo', sans-serif;
font-size: 20px;
font-weight: 700;
color: rgb(25, 24, 22);
background-color: white;
border: none;
border-radius: 12px;
padding: 10px 20px;
margin-top: 20px;
cursor: pointer;
transition: background-color 0.3s ease;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-left: 40px;
width: 134px;
height: 64px;
margin-bottom: 48px;
}

.buy-button:hover {
background-color: #f2f2f2;
}

.rectangle-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 648px;
  height: 550px;
}

@media screen and (max-width: 1050px) {
  .rectangle-image {
    width: auto; /* Ширина будет автоматически рассчитана на основе высоты, чтобы сохранить пропорции изображения */
    height: 80%; /* Процент может быть любым, в зависимости от того, насколько сильно вы хотите уменьшить изображение */
  }
}

@media screen and (max-width: 910px) {
  .rectangle-image {
    width: auto; /* Ширина будет автоматически рассчитана на основе высоты, чтобы сохранить пропорции изображения */
    height: 60%; /* Процент может быть любым, в зависимости от того, насколько сильно вы хотите уменьшить изображение */
  }
}

@media screen and (max-width: 815px) {
  .rectangle-image {
    width: auto; /* Ширина будет автоматически рассчитана на основе высоты, чтобы сохранить пропорции изображения */
    height: 50%; /* Процент может быть любым, в зависимости от того, насколько сильно вы хотите уменьшить изображение */
  }
}

@media screen and (max-width: 768px) {
  .rectangle {
    width: 343px;
    height: 677px;
  }
}


@media screen and (max-width: 768px) {
  .rectangle-text {
    color: rgb(0, 0, 0);
    font-family: Arimo;
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px; /* Примерный отступ */
  }
}


@media screen and (max-width: 768px) {
  .rectangle-text-description {
    color: rgb(0, 0, 0);
    font-family: Arimo;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    width: 295px;
    margin-right: auto;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .rectangle {
    padding-top: 0;
    border-radius: 16px;
  }
}

@media screen and (max-width: 768px) {
  .rectangle-text {
    padding-left: 24px; /* Добавлен отступ слева 24px */
  }

  .rectangle-text-description {
    padding-left: 24px; /* Добавлен отступ слева 24px */
    margin-top: 20px; /* Установлена величина отступа между заголовком и описанием */
    margin-bottom: 10px; /* Установлена величина отступа между описанием и кнопкой */
  }
  .buy-button {
    width: 295px;  /* Установлена ширина 295px */
    height: 56px;  /* Установлена высота 56px */
    margin-left: auto;  /* Выравнивание по горизонтали */
    margin-right: auto; /* Выравнивание по горизонтали */
  }
  .rectangle-image {
    width: 343px;
    height: 289px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .rectangle {
    /* Установите подходящие размеры для блоков */
    width: 100%; /* Например, можно использовать 100% ширины экрана */
    height: auto; /* Высота может быть автоматической */
    margin: 20px auto; /* Отступы сверху и снизу, выравнивание по центру */
    padding: 20px; /* Подходящие внутренние отступы */
    border-radius: 20px; /* Скругление углов */
  }

  .rectangle-image {
    /* Адаптируйте изображения внутри блоков */
    width: 50%; /* Изображение должно занимать всю доступную ширину блока */
    height: auto; /* Высота должна быть автоматической, чтобы сохранить пропорции */
  }
}

.rectangle-container {
  display: flex;
  justify-content: space-between;
}

.second-rectangle,
.third-rectangle {
  width: 636px;
  height: 368px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-top: 44px; /* Отступ сверху */
  border-radius: 56px;
}

.second-rectangle {
  background: rgb(201, 200, 237);
  margin-right: 32px;
}

.third-rectangle {
  background: rgb(255, 252, 182);
}

@media screen and (max-width: 768px) {
  .second-rectangle,
  .third-rectangle {
    width: 343px;
    height: 286px;
    margin-right: 0;
    padding: 0;
    border: none;
    border-radius: 16px;
  }

  .second-rectangle {
    margin-bottom: -26px;
    margin-right: 0; /* Обнуляем правый отступ для мобильных устройств */
  }

  .rectangle-container {
    flex-direction: column;
  }
}

.second-rectangle-text {
  color: rgb(0, 0, 0);
  font-family: Arimo;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  width: 286px;
  padding-left: 40px;
  margin-top: 32px;
}

.second-rectangle-description {
  color: rgb(0, 0, 0);
  font-family: Arimo;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  width: 367px;
  padding-left: 40px;
  margin-top: 10px;
}

.second-rectangle-button {
  border: none; /* Удаление обводки */
  border-radius: 12px;
  background: rgb(31, 34, 46);
  width: 160px;
  height: 64px;
  color: white; /* Цвет текста в кнопке */
  font-family: 'Arimo', sans-serif; /* Шрифт кнопки */
  font-size: 20px; /* Размер шрифта кнопки */
  font-weight: 700; /* Вес шрифта кнопки */
  line-height: 26px; /* Высота строки кнопки */
  letter-spacing: 0%; /* Разреженность букв в кнопке */
  text-align: center; /* Выравнивание текста по центру */
  margin-top: 20px; /* Отступ сверху */
  padding: 10px 20px; /* Внутренний отступ */
  cursor: pointer; /* Курсор в виде руки при наведении */
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
  margin-left: 40px; /* Отступ от левого края */
}

@media screen and (max-width: 768px) {
  .second-rectangle-text {
    color: rgb(0, 0, 0);
    font-family: Arimo;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    width: 295px;
    margin-top: 20px; /* Отступ от верха 20px */
    padding-left: 24px; /* Добавлен отступ слева */
  }
}


@media screen and (max-width: 768px) {
  .second-rectangle-description {
    color: rgb(0, 0, 0);
    font-family: Arimo;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    width: 295px;
    padding-left: 24px; /* Добавлен отступ слева */
    margin-top: 10px; /* Добавлен отступ сверху */
  }
}

@media screen and (max-width: 768px) {
  .second-rectangle-button {
    width: 295px;  /* Установлена ширина 295px */
    height: 56px;  /* Установлена высота 56px */
    margin-left: auto;  /* Выравнивание по горизонтали */
    margin-right: auto; /* Выравнивание по горизонтали */
    margin-bottom: 24px; /* Отступ от низа блока 24px */
  }
}

.third-rectangle-text {
  color: rgb(0, 0, 0);
  font-family: Arimo;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  width: 277px;
  padding-left: 40px;
  margin-top: 32px;
}

.third-rectangle-description {
  color: rgb(0, 0, 0);
  font-family: Arimo;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  width: 494px;
  padding-left: 40px; /* Добавлен отступ слева */
}

.third-rectangle-button {
  border: none; /* Удаление обводки */
  border-radius: 12px;
  background: rgb(31, 34, 46);
  width: 175px;
  height: 64px;
  color: white; /* Цвет текста в кнопке */
  font-family: 'Arimo', sans-serif; /* Шрифт кнопки */
  font-size: 20px; /* Размер шрифта кнопки */
  font-weight: 700; /* Вес шрифта кнопки */
  line-height: 26px; /* Высота строки кнопки */
  letter-spacing: 0%; /* Разреженность букв в кнопке */
  text-align: center; /* Выравнивание текста по центру */
  margin-top: 20px; /* Отступ сверху */
  padding: 10px 20px; /* Внутренний отступ */
  cursor: pointer; /* Курсор в виде руки при наведении */
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
  margin-left: 40px; /* Отступ от левого края */
}

@media screen and (max-width: 768px) {
  .third-rectangle-text {
    color: rgb(0, 0, 0);
    font-family: Arimo;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    width: 295px;
    margin-top: 20px; /* Отступ от верха 20px */
    padding-left: 24px; /* Добавлен отступ слева */
  }
}

@media screen and (max-width: 768px) {
  .third-rectangle-description {
    color: rgb(0, 0, 0);
    font-family: Arimo;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    width: 295px;
    padding-left: 24px; /* Добавлен отступ слева */
    margin-top: 10px; /* Добавлен отступ сверху */
  }
}

@media screen and (max-width: 768px) {
  .third-rectangle-button {
    width: 295px;  /* Установлена ширина 295px */
    height: 56px;  /* Установлена высота 56px */
    margin-left: auto;  /* Выравнивание по горизонтали */
    margin-right: auto; /* Выравнивание по горизонтали */
    margin-bottom: 24px; /* Отступ от низа блока 24px */
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .second-rectangle,
  .third-rectangle {
    width: 343px;
    height: 286px;
    margin-right: 0;
    padding: 0;
    border: none;
    border-radius: 16px;
  }

  .second-rectangle {
    margin-bottom: -26px;
    margin-right: 32px; /* Добавляем правый отступ для планшетных устройств */
  }

  .rectangle-container {
    flex-direction: row; /* Прямоугольники располагаются в ряд */
  }

  .second-rectangle-text,
  .third-rectangle-text {
    font-size: 28px;
    line-height: 32px;
    width: 295px;
    margin-top: 20px;
    padding-left: 24px;
  }

  .second-rectangle-description,
  .third-rectangle-description {
    font-size: 20px;
    line-height: 26px;
    width: 295px;
    padding-left: 24px;
    margin-top: 10px;
  }

  .second-rectangle-button,
  .third-rectangle-button {
    width: 295px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
}
